.webName {
   font-family: 'Lora', serif;
   background: linear-gradient(
       to right,
       #f72585 20%,
       #4cc9f0 30%,
       #d1105a 70%,
       #c77dff 80%
   );
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   text-fill-color: transparent;
   background-size: 500% auto;
   animation: glitter 5s ease-in-out infinite alternate;
}

@keyframes glitter {
   0% {
       background-position: 0% 50%;
   }
   100% {
       background-position: 100% 50%;
   }
}

.active {
   color: white;
   text-decoration: underline;
   text-underline-offset: 8px;
}