.custom-prev-arrow,
.custom-next-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.custom-prev-arrow {
  left: -10px;
}

.custom-next-arrow {
  right: -10px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .slick-dots li {
    list-style-type: none;
    margin: 0 8px;
  }
  
  .slick-dots li button {
    width: 8px; 
    height: 8px; 
    background-color: #5f032c80; 
    border: none; 
    border-radius: 50%;
    cursor: pointer;
  }  
  
  .slick-dots li.slick-active button {
    background-color: #b20a56;
    scale: 1.5;
  }
  